#sigma-grid{
    display: grid;
    grid-template: 'main aside' / 2fr 1fr;
    max-width: 70.5rem;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1.25rem 0;
}
#sigma-aside{
    background: linear-gradient(0deg, rgba(130, 85, 0, 0.05), rgba(130, 85, 0, 0.05)), #FCFCFC;
    grid-area: aside;
    position: sticky;
    top: 4.75rem;
    height: calc(100vh - 6rem);
    padding: .5rem 1rem;
    border: 1px solid rgba(31, 27, 22, 0.04);
    border-radius: 1.125rem;
}
.aside-option{
    padding: .5rem 1rem;
    min-width: 23ch;
}
.aside-option:hover{
    color: #4f4539;
    background-color: #f0e0cf;
}
#sigma-content{
    color: #575655;
    font-family: 'Work Sans';
    font-size: 1.125rem;
    line-height: 1.5;
    grid-area: main;
    padding: 1rem;
    border: .0625rem solid rgba(31, 27, 22, 0.08);
    border-radius: 1.125rem;
}
#content-title{
    color: #825500;
    font-family: 'Poppins';
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: .5rem;
}
.content-article{
    padding: .75rem 1.5rem;
    border-radius: .75rem;
    margin-top: 1.5rem;
}
.content-article>h2{
    font-family: 'Poppins';
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: .375rem;
}
.content-article>p{
    margin-bottom: .625rem;
}
.img-container{
    max-width: 300px;
    margin: .625rem auto 0;
}
.content-article li{
    font-size: 1rem;
    max-width: 90%;
    margin-bottom: .3125rem;
}
.content-article li::before{
    content: '\2022';
    color: #996600;
    margin: 0 .3125rem 0 .9375rem;
}
@media (max-width:768px) {
    #sigma-grid{
        grid-template: 'main' / 1fr;
        justify-content: center;
        padding: 0;
    }
    #sigma-aside{
        display: none;
    }
}