#sigma-header{
    background-color: inherit;
    position: sticky;
    top: 0;
    min-height: 5.25rem;
    padding: .75rem;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .75rem var(--page-padding);
    z-index: 3;
    max-width: 1240px;
    margin: 0 auto;
}
.logo{
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 600;
}
#header-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 587px) {
    #sigma-header{
        padding: 0;
    }
    header{
        justify-content: center;
        gap: .75rem;
    }
}